@use '../../partials/mixins' as *;
@use '../../partials/resets' as *;
@use '../../partials/variables' as *;

.about {
    &__image {
        width: 26.39vw;
        height: 26.39vw;
        border-radius: 26.39vw;
    }
}