@use '../../partials/mixins' as *;
@use '../../partials/resets' as *;
@use '../../partials/variables' as *;

.project-nav {
    &__heading {
        @include tab-desk-display-2;
        margin-bottom: 2.5rem;
    }

    &__nav {
        display: flex;
        margin-bottom: 3.75rem;
    }
}