@use '../../partials/mixins' as *;
@use '../../partials/resets' as *;
@use '../../partials/variables' as *;

.subheader {
    width: 100vw;
    padding: 3.125rem $desk-margin-x-1;
    background-color: $secondary-color;

    &__link {
        text-decoration: none;
        @include tab-desk-display-1;
        @include semi-bold;
        color: $dark-color;
    }
}