@use '../../partials/mixins' as *;
@use '../../partials/resets' as *;
@use '../../partials/variables' as *;

.about {
    &__description {
        display: flex;
        flex-direction: column;
        margin-left: 3.47vw;
    }

    &__subheading {
        @include tab-desk-heading-body-1;
        @include bold;
        margin-bottom: 1.5rem;
    }

    &__body {
        @include tab-desk-heading-body-1;
    }
}